* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #212529;
    color: wheat;
}

h1 {
    color: forestgreen;
}

ul {
    padding: 0;
}

li {
    padding: 35px 0;
    border-bottom: 1px solid wheat;
    cursor: cell;
}

li:hover {
    background-color: #3f504e;
    text-shadow: 1px 1px 1px black;
}

li > *{
    margin: 0 5px;
}

.navbar-icon {
    background-color: forestgreen;
    color: wheat;
    text-shadow: 1px 1px 1px #212529;
    border-radius: 10px;
    border: 1px solid wheat;
    box-shadow: 3px 3px black;
    padding: 3px 35px;
    font-weight: bold;
}

.navbar-icon:hover {
    background-color: #e1e778;
    color: #212529;
}

.navbar-icon:active {
    text-shadow: none;
    box-shadow: none;
}

.nav-item > li > a {
    color: wheat;
}

.ms-navbar-bg {
    border-top: 1px solid #46544d;
    border-bottom: 1px solid #46544d;
    background-color: #212925;
}

.ms-container {
    padding: 0 36px;
}

.home-page {
    height: 450px;
    font-size: 10rem;
    color: wheat;
    text-shadow: 2px 2px 1px black;
}